body {
  /* background-color:#A2D718; */
  background-color: #2ed573;
}
header {
  font-size: 30px;
  color: white;
}
h2, h3 {
  text-align: center;
}
form {
  text-align: center;
}
nav {
  text-align: center;
}
div.signUpBox, div.loginBox, div#delete-message-div {
  margin: 30px;
  background-color: #7bed9f;
  border: 1px solid black;
  border-radius: 10px;
}
div.signUpBox form, div.loginBox form {
  margin: 3%;
  font-weight: bold;
  color: #000000;
}


